.main-page {
  text-align: center;
}

.header {
  border-bottom: 2px solid slategrey;
}

.initial-search-background {
  background: url(https://static.pexels.com/photos/2249/vegetables-italian-pizza-restaurant.jpg);
  text-align: center;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.search-field {
  padding-top: 200px;
}
